<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAfcuqojlABVQmWDTxQBXEV0WfhWtw2tAg</string>
	<key>GCM_SENDER_ID</key>
	<string>647311716425</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>cs.seattleu.homework1.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>my-wellness-tracker-349db</string>
	<key>STORAGE_BUCKET</key>
	<string>my-wellness-tracker-349db.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:647311716425:ios:805fcf4ee68a1869504f98</string>
</dict>
</plist>